/**
 * Project Ohmyfood
 * Button component
 */





.button {
    --button-height: 3rem ;
    height: $button-height;
    padding: 0 math.div($button-height, 2);
    border-radius: math.div($button-height, 2);
    background: linear-gradient(175deg, $secondary-500 0%, $primary-500 100%);
    transition: all .3s ease-in-out;
    @include md-box-shadow(1);
    color: $white;
    cursor: pointer;
    &:hover, &:focus {
        background: linear-gradient(175deg, lighten($secondary-500, 5%) 0%, lighten($primary-500, 5%) 100%);
        @include md-box-shadow(2);
    }
}