/**
 * Project Ohmyfood
 * Card component
 */





.card {
    display: flex; flex-direction: column;
    border-radius: $card-border-radius;
    @include md-box-shadow(1);
    cursor: pointer;
    &-picture {
        position: relative;
        overflow: hidden;
        aspect-ratio: 4 / 2;
        border-radius: $card-border-radius $card-border-radius 0 0;
        img {
            width: 100%; height: 100%;
            object-fit: cover;
        }
    }
    &-header {
        display: flex;
        padding: $card-margin;
        &-content {
            flex-grow: 1;
        }
        &-title {
            font-weight: $font-extrabold;
            line-height: 1.2;
        }
        &-action {
            cursor: pointer;
            svg {
                height: 1.375rem;
                margin-right: 1rem;
                color: $gray-800;
            }
        }
    }
}
