/**
 * Project Ohmyfood
 * Restaurant page
 */





.restaurant {
    --border-radius: 2.5rem;
    &-picture {
        position: relative; overflow: hidden;
        width: 100%;
        height: 18rem;
        img {
            --top: -25%;// cropping
            position: absolute; top: var(--top);
            width: 100%; height: calc(var(--top) * -1 + 100%);
            object-fit: cover;
        }
    }
    &-wrapper {
        position: relative; z-index: 2;
        display: flex; flex-direction: column; align-items: center;
        margin-top: calc(var(--border-radius) * -1);
        padding: var(--border-radius) $margin;
        gap: var(--border-radius);
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        background-color: $gray-100;
    }
    &-header {
        display: flex;
        width: 100%;
        &-title {
            flex-grow: 1;
            font-family: 'Shrikhand', cursive;
            font-size: 1.75rem;
        }
        .like {
            margin-right: 1rem;
        }
    }
    &-menu {
        gap: var(--border-radius);
        @include media-min('lg') {
            display: grid; grid-template-columns: repeat(3, 1fr);
            width: 100%;
        }
        @include media-max('lg') {
            display: flex; flex-direction: column;
        }
        @include media-between('md', 'lg') {
            width: 35rem;
        }
        @include media-max('md') {
            width: 100%;
        }
    }
    .button {
        padding: 0 3rem;
    }
}